*{
    padding: 0px;
    margin: 0px;
}

body{
    background: $background;
    background-size: $background-size;
    font-family: $font-family;
}

.center{
    margin: auto;
}

.center-text{
    text-align: center;
}

.row{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
}

.input-error{
	border-color: red !important;
	@include box-shadow(0px 0px 8px rgba(255, 0, 0, 0.6) !important);
}

.required-notification{
	@extend .center-text;
	font-size: 13px;
	color: red;
}

.hidden-element{
	visibility: hidden;
}

#main-wrapper{
    width: 1000px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.9);

	@media screen and (max-width: 1000px){
		width: 100%;
	}

	#scroll-top-btn{
		position: fixed;
		display: none;
		width: 50px;
		height: 50px;
		bottom: 50px;
		right: 50px;
		
		&:hover{
			cursor: pointer;
		}
	}

}
