// menu wrapper
#responsive-menu{
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    min-height: 40px;
    padding: 0px;

	@media (max-width: 1002px){
		text-align: center;
	}
	
	@media (max-width: 500px){
		text-align: left;
	}

	> a{
		display: inline-block;
		padding: 0px 20px;
		> img{
			width: 100px
		}
	}
}

// menu options
#menu-options{
	display: inline-block;
	vertical-align: top;

	@media (max-width: 1002px){
		display: none;
	}
	
	@media (min-width: 1002px){
		display: inline-block !important;
	}

	.menu-option{
		display: inline-block;
		outline: none;
		margin-left: -1px;
		width: 169px;
		height: 100px;
		line-height: 35px;
		font-size: 21px;
		color: #FFFFFF;

		@media (max-width: 1002px){
			isplay: block;
			margin: 0px;
			width: 100%;
			text-align: left;
			height: 60px;
			padding: 5px;
		}

		img{
			display: block;
			margin-top: 15px;

			@media (max-width: 1002px){
				display: inline-block;
				vertical-align: middle;
				margin: 0px;
			}
		}
	}

	.menu-option:hover, .menu-option:active, .menu-option:focus{
		color: #FFFFFF;
		text-decoration: none;
		@include filter-saturate(250%);
	}

	.menu-option.active{
		color: #FFFFFF;
		background-color: #E7E7E7;
	}

	// menu option colors
	@for $i from 1 through length($menu-colors) {
		$color: nth($menu-colors, $i);

		.menu-option:nth-child(#{$i}){
			background-color: $color;
		}
	}

}

#hamburger-button{
    position: absolute;
    display: none;
    top: 25px;
    right: 20px;
    padding: 10px 15px 10px 15px;
    outline: none;

	@media (max-width: 1002px){
		display: inline-block;
	}
	
	span {
		font-size: 25px;
		top: 4px;
	}
}


