#signup-wrapper{
	padding: 10px;
	
	.alert-info{
		@extend .center-text;
		font-size: 15px;
		font-weight: bold;
	}
	
	input[type='text'], input[type='password']{
		@extend .center;
		width: 70%;
		margin-top: 10px;
		
		@media (max-width: 430px){
			width: 100%;
		}
	}
	
	.required-notification{
		margin-top: 10px;
	}
	
	input[type='button']{
		@extend .center;
		display: block;
		margin-top: 10px;
	}
}
