// variables
$background: url(../../img/bg.jpg) no-repeat fixed;
$background-size: cover;
$main-wrapper-background: rgba(255, 255, 255, 0.9);

$menu-colors: #78909C #2586E5 #03937A #366778 #0097A5;
$article-title-color: #00579A;

$font-family: 'Open Sans', sans-serif;


// mixins
@mixin center {
	margin: auto;
}

@mixin center-text {
	text-align: center;
}

@mixin filter-saturate($percent) {
	filter: saturate($percent);
	-moz-filter: saturate($percent);
	-webkit-filter: saturate($percent);
}

@mixin box-shadow($params){
	-webkit-box-shadow: $params;
	-moz-box-shadow: $params;
	box-shadow: $params;
}
