* {
  padding: 0px;
  margin: 0px; }

body {
  background: url(../../img/bg.jpg) no-repeat fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif; }

.center {
  margin: auto; }

.center-text {
  text-align: center; }

.row {
  margin: 0px; }

.container-fluid {
  padding: 0px; }

#main-wrapper {
  width: 1000px;
  min-height: 500px;
  background: rgba(255, 255, 255, 0.9); }
  @media screen and (max-width: 1000px) {
    #main-wrapper {
      width: 100%; } }

#responsive-menu {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  min-height: 40px;
  padding: 0px; }
  @media (max-width: 1002px) {
    #responsive-menu {
      text-align: center; } }
  @media (max-width: 500px) {
    #responsive-menu {
      text-align: left; } }
  #responsive-menu > a {
    display: inline-block;
    padding: 0px 20px; }
    #responsive-menu > a > img {
      width: 100px; }

#menu-options {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 1002px) {
    #menu-options {
      display: none; } }
  @media (min-width: 1002px) {
    #menu-options {
      display: inline-block !important; } }
  #menu-options .menu-option {
    display: inline-block;
    outline: none;
    margin-left: -1px;
    width: 169px;
    height: 100px;
    line-height: 35px;
    font-size: 21px;
    color: #FFFFFF; }
    @media (max-width: 1002px) {
      #menu-options .menu-option {
        isplay: block;
        margin: 0px;
        width: 100%;
        text-align: left;
        height: 60px;
        padding: 5px; } }
    #menu-options .menu-option img {
      display: block;
      margin-top: 15px; }
      @media (max-width: 1002px) {
        #menu-options .menu-option img {
          display: inline-block;
          vertical-align: middle;
          margin: 0px; } }
  #menu-options .menu-option:hover, #menu-options .menu-option:active, #menu-options .menu-option:focus {
    color: #FFFFFF;
    text-decoration: none;
    filter: saturate(250%);
    -moz-filter: saturate(250%);
    -webkit-filter: saturate(250%); }
  #menu-options .menu-option.active {
    color: #FFFFFF;
    background-color: #E7E7E7; }
  #menu-options .menu-option:nth-child(1) {
    background-color: #78909C; }
  #menu-options .menu-option:nth-child(2) {
    background-color: #2586E5; }
  #menu-options .menu-option:nth-child(3) {
    background-color: #03937A; }
  #menu-options .menu-option:nth-child(4) {
    background-color: #366778; }
  #menu-options .menu-option:nth-child(5) {
    background-color: #0097A5; }

#hamburger-button {
  position: absolute;
  display: none;
  top: 25px;
  right: 20px;
  padding: 10px 15px 10px 15px;
  outline: none; }
  @media (max-width: 1002px) {
    #hamburger-button {
      display: inline-block; } }
  #hamburger-button span {
    font-size: 25px;
    top: 4px; }

#currency-exchange {
  min-height: 40px;
  padding: 0px; }
  @media screen and (max-width: 768px) {
    #currency-exchange {
      margin-top: 15px; } }
  #currency-exchange iframe {
    display: none; }

#top-ad {
  min-height: 70px;
  background: #2586E5; }

#search-bar {
  margin-top: 10px; }

#articles-wrapper {
  display: none;
  text-align: left; }
  #articles-wrapper .article-box {
    width: 47%;
    display: inline-block;
    margin: 15px 9px 15px 9px;
    min-height: 400px;
    vertical-align: top;
    color: #6A6869;
    -webkit-box-shadow: 0px 0px 15px 0px #7a797a;
    -moz-box-shadow: 0px 0px 15px 0px #7a797a;
    box-shadow: 0px 0px 15px 0px #7a797a; }
    @media (max-width: 992px) {
      #articles-wrapper .article-box {
        width: 100%;
        margin: 15px 0px; } }
    #articles-wrapper .article-box .article-img {
      min-height: 150px;
      position: relative; }
      #articles-wrapper .article-box .article-img .section-box {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        padding: 2px 10px;
        width: 100%;
        color: #fff;
        text-align: left;
        font-weight: bold; }
        #articles-wrapper .article-box .article-img .section-box span {
          float: right; }
    #articles-wrapper .article-box .article-title {
      text-align: justify;
      font-size: 17px;
      font-weight: bold;
      padding: 10px 15px 0px 15px;
      min-height: 90px; }
      #articles-wrapper .article-box .article-title a {
        color: #00579A; }
    #articles-wrapper .article-box .article-summary {
      text-align: justify;
      font-size: 15px;
      padding: 3px 15px;
      min-height: 90px; }
      #articles-wrapper .article-box .article-summary a {
        color: #6A6869; }
    #articles-wrapper .article-box .read-more-btn {
      float: right;
      margin-top: 5px;
      margin-right: 15px;
      padding: 5px 10px 5px 10px;
      background: #D9D9D9;
      color: #00579A;
      -webkit-box-shadow: 0px 0px 15px 0px #7a797a;
      -moz-box-shadow: 0px 0px 15px 0px #7a797a;
      box-shadow: 0px 0px 15px 0px #7a797a; }
      #articles-wrapper .article-box .read-more-btn:hover {
        text-decoration: none; }
  #articles-wrapper #archive-link {
    display: block;
    font-size: 17px;
    text-align: center; }

#archive-date-picker {
  width: 120px;
  float: right; }

#user-menu {
  font-size: 19px;
  color: #0B6490; }
  #user-menu #user-login, #user-menu #user-signup {
    padding: 0px;
    text-align: center; }

.aside-box {
  margin-top: 12px;
  min-height: 200px;
  background: #366778; }
  @media screen and (max-width: 768px) {
    .aside-box {
      display: none; } }

footer.row {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  min-height: 50px;
  line-height: 50px; }

/*# sourceMappingURL=main.css.map */
