*{
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'MoolBoran';
    src: url('<?php echo base_url(); ?>fonts/MoolBoran.ttf'), format('truetype');
    font-weight: normal;
    font-style: normal;
}

.row{
    margin: 0px;
}
.center{
    margin: auto;
}

.center-text{
    text-align: center;
}

.container-fluid{
    padding: 0px;
}

body{
    background: url(../img/bg.jpg) no-repeat fixed;
    background-size: cover;
    font-family: 'MoolBoran', sans-serif;
}
#main-wrapper{
    width: 1000px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.9);
}

/* MENU */

#responsive-menu{
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    min-height: 40px;
    padding: 0px;
}

#responsive-logo{
    padding: 0px 20px;
}

#responsive-logo img{
    width: 100px
}

#responsive-logo, #menu-options{
    display: inline-block;
}

#menu-options{
    vertical-align: top;
}

.menu-option {
    margin-left: -1px;
    width: 171px;
    height: 100px;
    line-height: 35px;
    display: inline-block;
    font-size: 28px;
    color: #FFFFFF;
}

.menu-option:hover, .menu-option:active, .menu-option:focus{
    color: #FFFFFF;
    text-decoration: none;
    filter: saturate(250%);
    -webkit-filter: saturate(250%);
}

.menu-option.active{
    color: #FFFFFF;
    background-color: #E7E7E7;
}

.menu-option img{
    display: block;
    margin-top: 15px;
}

#hamburger-button{
    position: absolute;
    display: none;
    top: 25px;
    right: 20px;
    padding: 10px 15px 10px 15px;
    outline: none;
}
#hamburger-button span{
    font-size: 25px;
}

.menu-option:nth-child(1){
    background-color: #78909C;
}

.menu-option:nth-child(2){
    background-color: #2586E5;
}

.menu-option:nth-child(3){
    background-color: #03937A;
}

.menu-option:nth-child(4){
    background-color: #366778;
}

.menu-option:nth-child(5){
    background-color: #0097A5;
}

#currency-exchange{
    min-height: 40px;
    padding: 0px;
}

#currency-exchange iframe{
    display: none;
}

#top-ad{
    min-height: 70px;
    background: #2586E5;
}

#articles-wrapper{
    text-align: center;
}

.article-box{
    width: 47%;
    display: inline-block;
    margin: 15px 9px 15px 9px;
    min-height: 300px;
    vertical-align: top;
    color: #6A6869;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
    box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
}

.article-img{
    background: #2586E5;
    min-height: 150px;
}

.article-title{
    text-align: center;
    font-size: 22px;
}

.article-summary{
    text-align: justify;
    font-size: 15px;
    padding: 3px 15px 3px 15px;
}

.read-more-btn{
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    padding: 5px 10px 5px 10px;
    background: #D9D9D9;
    color: #00579A;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
    box-shadow: 0px 0px 15px 0px rgba(122,121,122,1);
}
.read-more-btn:hover{
    text-decoration: none;
}

#user-menu{
    font-size: 28px;
    color: #0B6490;
}

#user-login, #user-signup{
    padding: 0px;
    text-align: center;
}

#top-news, #aside-ad, #questionnaire{
    margin-bottom: 20px;
    min-height: 200px;
    background: #366778;
}